<h4>User: <%= @user.username %></h4>

<p>Member since <%= @user.created_at.to_s(:long) %></p>
<p><%= @user.profile %></p>

<h3>Photos</h3>
<ul id="photos">
  <%= render :partial => 'photos/photo', :collection => @photos %>
</ul>
<p>
  <%= link_to "See all of #{@user.username}'s photos",
               user_photos_path(:user_id => @user) %>
</p>

<p>
  <%= link_to "#{@user.username}'s Tags",
        user_tags_path(:user_id => @user) %>
</p>


